@import '../../assests/constants.scss';
@import '../../assests//colors.scss';

.h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 52px;
  text-align: center;
  margin-bottom: 5px;
}

.h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.span {
  color: red;
}

.p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 5px;
}

.button {
  color: white;
  background-color: $navy;

  border-radius: $button-border-radius;
  border: 1px solid transparent;

  padding: 3px 5px;
}

.button:hover {
  cursor: pointer;
}
