.h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 52px;
  text-align: center;
  margin-bottom: 5px;
}

.h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.span {
  color: red;
}

.p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 5px;
}
